<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "erreur") %> :</h2>
    <p>Les champs suivants ont un problème :</p>
    <ul>
    <% object.errors.each do |f| %>
    <% object.errors[f].each do |msg| %>
		<li><%= msg %></li>
	<% end %>
    <% end %>
    </ul>
  </div>
<% end %>
