<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "erreur") %> :</h2>
    <p>
		<% object.errors[:short_name].each do |msg| %>
		<% if msg == "is invalid" %>
		Le nom est incorrect
		<% else %>
			<% if msg == "can't be blank" %>
		Le nom ne doit pas être vide
			<% else %>
		<%= msg %>
			<% end %>
		<% end %>
		<br />
		<% end %>
	</p>
  </div>
<% end %>
