<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "erreur") %></h2>
    <ul>
    <% object.errors.each do |attr, msg| %>
      <li>
        <%= "#{translate_field(attr)} #{msg}" %> 
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
