<p>
  Le nom ne peut comporter que des caractères alphanumériques et le tiret '-', doit
  commencer par une lettre, ne peux pas contenir deux tirets à la suite ('--') et ne doit pas
  finir par un tiret.
</p>
