<h1 class="homepage">Dns App</h1>

<p>
  Lancement de la version 0.2.0.<br />
  Rapporter tout problème à <a href="mailto:johann-michael.thiebaut@polytechnique.edu">jmt</a>.
</p>

<p>
  <% if signed_in? %>
    <% dns = current_dns %>
    <% if dns.nil? %>
      <%= link_to "Donne un nom à ton ordinateur", new_domain_name_path %>
    <% else %>
      Ton nom : <%= link_to dns.get_short_name, dns %>
    <% end %>
  <% end %>
</p>
