{% load url from future %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}DNSApp{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="round" id="Logo">Dns App</a>
        {% if remote_ip %}
        <section id="Profile" class="round">
            <ul>
                <li>Ton ip : <a href="{% url 'dns-ip' %}">{{ remote_ip }}</a></li>
                {% if remote_zone %}<li>Zone {{ remote_zone.description }}</li>{% endif %}
                {% if remote_record %}<li>Ton nom :
                    <a href="{% url 'dns-ip' remote_ip %}">{{ remote_record.host }}</a>
                </li>{% endif %}
            </ul>
        </section>
        {% endif %}
        <nav>
            <a href="{% url 'home' %}">Accueil</a> | 
            <a href="{% url 'dns-ip' %}">Adresse IP</a>
        </nav>
    </header>    
    <div class="gray">
    <section id="Content">
{% block content %}
{% endblock %}
    </section>
    </div>
    <footer>
        <nav>
            <a href="{% url 'arec-list' %}">Enregistrements DNS</a> |
            <a href="{% url 'rarec-list' %}">Enregistrements Reverse DNS</a> |
            <a href="{% url 'cnrec-list' %}">Aliases</a> |
            <a href="{% url 'mxrec-list' %}">Mail</a> |
            <a href="{% url 'zone-list' %}">Zones</a> |
            Propulsé par <a href="https://www.djangoproject.com/" target="_blank">Django</a>
        </nav>
    </footer>
    <div class="end"></div>
</body>
</html>
