{% extends "dnsapp/base.html" %}
{% load url from future %}

{% block content %}
<h1 class="homepage">Dns App</h1>

<h2 class="homepage">Le service de noms de domaine du Binet Réseau</h2>

<p>
    Ce service founi par le Binet Réseau permet d'associer un nom de domaine à
    une adresse IP. Pour savoir si tu peux bénéficier de ce service, tu peux te
    rendre <a href="{% url 'about-ip' %}">ici</a>.
</p>

<p>
    En associant un nom à ton adresse ip, cela permettra aux autres personnes
    sur le réseau élèves de se connecter simplement à ton ordinateur.
    Tu peux consulter la liste des enregistrements DNS, et savoir quels
    sont les noms déjà enregistrés en suivant
    <a href="{% url 'dns-list' %}">ce lien</a>.
</p>

<h3>TODO: Logique pour choisir un message parmi :</h3>
<p>
    Ton adresse IP n'est actuellement associée à aucun nom de domaine.
    Tu peux lui en donner un en suivant
    <a href="#not-yet-implemented">ce lien</a>.
</p>
<p>
    Ton adresse IP n'est dans aucune zone gérée par Dns App. Il n'est
    pas possible de lui attribuer un nom de domaine ici. Vérifie que
    tu te connectes à ce service depuis une machine sur le réseau élèves.
</p>
<p>
    Ton adresse IP est actuellement associée au nom
    <strong>helloworld</strong>.
    Pour le modifier, tu peux te rendre
    <a href="#not-yet-implemented">ici</a>.
</p>

<p>
  Merci de rapporter tout problème rencontré en utilisant ce service en
  envoyant un mail à<br />
  <a href="dnsapp@frankiz.polytechnique.fr">
    dnsapp@frankiz.polytechnique.fr</a>.
</p>
{% endblock %}
