{% extends "dnsapp/base.html" %}
{% load url from future %}

{% block content %}
<h1>À propos de {{ ip }}</h1>

<p>
  <strong>Nom de domaine</strong> {% firstof record.domain_name "Aucun" %}<br />
  <strong>Zone</strong>
  {% if record.zone %}
    <a href="{% url 'zone' record.zone %}">{{ record.zone }}</a>
  {% else %}
    Aucune
  {% endif %}<br />
  <strong>Adresse IP</strong> {{ ip }}<br />
</p>

<p>
{% if record_revzone %}
  Cette adresse IP est dans une zone gérée par Dns App, il est possible de lui
  attribuer un nom de domaine.
{% else %}
  Cette adresse IP n'est dans aucune zone gérée par Dns App. Il n'est
  pas possible d'attribuer un nom de domaine à cette adresse IP ici.
{% endif %}
</p>

{% if record_revzone and ip == remote_ip %}
<h2>Modification</h2>
{% if error_message %}<p id="error_explanation">{{ error_message }}</p>{% endif %}
<p>
  Le nom ne peut comporter que des caractères alphanumériques et le tiret '-',
  doit commencer par une lettre ou un chiffre et ne doit pas finir par un tiret. 
</p>
<form action="{% url 'set-remote-name' %}" method="POST">
  {% csrf_token %}
  <label for="domain_name">Nom : </label>
  <input type="text" name="host" value="{{ record.host }}" />
  <select name="zone">
  {% for zone in zones %}
    <option value="{{ zone }}"{% if zone == record.zone.zone %} selected{% endif %}>{{ zone }}</option>
  {% endfor %}
  </select>
  <input type="submit" value="Modifier" />
</form>
{% endif %}

<p><a href="{% url 'arec-list' %}">Retour à la liste des enregistrements DNS</a></p>

{% endblock %}
