<footer>
  <nav>
    <%= link_to "Liste des DNS", domain_names_path %> |
    <%= link_to "Liste des Reverse DNS", reverse_domain_names_path %> |
    Propulsé par <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
  </nav>
</footer>
