<footer>
  <nav>
    <%= link_to "Enregistrements DNS", dns_records_path %> |
    <%= link_to "Enregistrements Reverse DNS", reverse_dns_records_path %> |
    Propulsé par <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
  </nav>
</footer>
